In [5]:
import pandas as pd
import numpy as np
from data_clean import data_clean
from sklearn.model_selection import GridSearchCV
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import Lasso, Ridge, ElasticNet
from sklearn.pipeline import Pipeline, make_pipeline

X_train_temp = pd.read_csv('./data/dirty_X_train.csv',index_col = 0)
y_train_temp = pd.read_csv('./data/dirty_y_train.csv',index_col = 0)

X_train = data_clean(X_train_temp,'x')
y_train = data_clean(y_train_temp,'y')
X_train.describe()

,Population_Size,Poverty,Age_19_Under,Age_19_64,Age_65_84,Age_85_and_Over,White,Black,Native_American,Asian,...,Unemployed,Sev_Work_Disabled,Major_Depression,Recent_Drug_Use,Meas_Rpt,Meas_Ind,Meas_Exp,Uninsured,Prim_Care_Phys_Rate,Dentist_Rate
count,2.512000e+03,2512.000000,2512.000000,2512.000000,2512.000000,2512.000000,2512.000000,2512.000000,2512.000000,2512.000000,...,2512.000000,2512.000000,2512.000000,2512.000000,2512.000000,2512.000000,2512.000000,2512.000000,2512.000000,2512.000000
mean,8.960928e+04,13.339769,24.845860,60.233559,12.800080,2.121019,86.889769,9.093352,2.035271,1.084674,...,2.617663,3.522038,6.060864,5.213455,0.111111,3.015930,0.017921,14.160872,57.966521,32.165432
std,3.046679e+05,4.881210,3.254432,3.260477,3.310881,0.962327,16.377624,14.745860,7.932444,2.556157,...,0.735939,11.368678,0.648904,1.122452,1.289914,0.125204,0.180924,4.971125,44.405582,20.683348
min,6.200000e+01,2.200000,13.400000,47.600000,2.100000,0.100000,4.700000,0.000000,0.000000,0.000000,...,0.510000,0.700000,4.000000,2.810000,0.000000,3.000000,0.000000,2.170000,0.000000,0.000000
25%,1.106900e+04,9.900000,22.700000,58.300000,10.700000,1.500000,82.800000,0.500000,0.200000,0.300000,...,2.120000,2.017500,5.610000,4.460000,0.000000,3.000000,0.000000,10.560000,30.900000,19.100000
50%,2.508950e+04,12.600000,24.600000,60.300000,12.500000,1.900000,94.100000,2.100000,0.400000,0.500000,...,2.530000,2.670000,5.920000,5.050000,0.000000,3.000000,0.000000,13.355000,51.050000,30.200000
75%,6.365225e+04,16.200000,26.500000,62.300000,14.700000,2.600000,97.600000,10.300000,0.900000,1.000000,...,2.970000,3.460000,6.510000,5.772500,0.000000,3.000000,0.000000,17.050000,75.400000,43.325000
max,9.935475e+06,36.200000,47.200000,83.200000,27.500000,7.600000,100.000000,86.000000,93.400000,55.100000,...,7.900000,407.840000,8.260000,11.300000,51.000000,4.000000,2.000000,38.390000,571.100000,268.800000

In [9]:
pipe = Pipeline([
    ('sc', StandardScaler() ),
    ('ridge', Ridge() )
])

params = {
    'ridge__alpha': [.1, .5, 1, 5, 10]
}

search= GridSearchCV(estimator=pipe,
                    param_grid=params,
                    cv=5,
                    return_train_score=True
                    )
search.fit(X_train, y_train)

ALE    0
dtype: int64

In [33]:
search.best_index_, search.best_params_, search.best_score_

(1, {'ridge__alpha': 0.5}, 0.7171964327510038)

In [34]:
CV=pd.DataFrame(search.cv_results_)

In [60]:
rid=Ridge(alpha=.5)
rid.fit(X_train, y_train)
coeffs=rid.coef_
c_ind=list(range(26))

(1, 26)